@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    overflow-y: scroll;
/*    font-family:'맑은 고딕';*/
}

body{
    background:#fafafa;
    padding-bottom: 80px;
}